@charset "utf-8";

/* commmon */
body {
  background: pink;
  margin: 0;
}
h1{
  margin: 0;
  font-size: 0;
}
h2{
  margin: 0;
  font-weight: normal;
  font-size: 20px;
}
p{
  margin: 0;
}
img{
  margin: 0;
  vertical-align: bottom;
}

.content{
  max-width: 600px;
  margin: 0 auto;
  width: calc(100% - 64px);
  box-sizing: border-box;
}

/* header */
header{
  padding: 34px 0;
  background-color: white;
}

/* products */
.products{
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product{
  width: calc((100% - 64px) / 3);
  box-sizing: border-box;
}
.product img{
  width: 100%;
  height: auto;
}

/* footer */